<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <button type="button" id="login_btn" onclick="redirectLoginPage()">Login</button> <br><br>
    <button type="button" id="register_btn" onclick="redirectRegisterPage()">Register</button> <br>
    <script>
        function redirectLoginPage()
        {
            window.location = '/login';
        }
        function redirectRegisterPage()
        {
            window.location = '/register';
        }
    </script>
</body>
</html>
