<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <div class="container">
        <p class="show_response"> <%= code_exec_response %> </p>
    </div>
</body>
</html>
